<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
    <div class="container">
        <app-navbar></app-navbar>
    </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div> -->

<!-- <app-layout></app-layout> -->

<app-header></app-header>
<!-- <div class="container content"> -->
    <div class="row">
        <div class="col-md-2"><app-sidebar></app-sidebar></div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
<!-- </div> -->
<app-footer></app-footer>

<!-- <app-header></app-header> -->
<!-- <section  class="container"> --> <!-- container centers content on large screens -->
 <!-- <div class="row">   -->          <!-- responsive row has 12 columns by default -->
  <!--  <mat-card class="col-md-6">1</mat-card> --> <!-- we use mat-card instead of div -->
  <!--  <mat-card class="col-md-6">2</mat-card> -->
  <!--  <mat-card class="col-md-6">2</mat-card> -->
    <!-- <mat-card class="col-md-6 d-block d-lg-none">3</mat-card> --> <!-- will be hidden on large screens -->
    <!-- <mat-card class="col-md-6 d-block d-lg-none">4</mat-card> -->
  <!-- </div> -->
<!-- </section > -->
<!-- <app-footer></app-footer> -->


















